blessings
coverage
GitPython>=0.3.2.RC1
hgapi
invoke==0.12.0
path.py
pyactiveresource
psutil
--allow-external RBTools
--allow-unverified RBTools
RBTools
python-quilt
tabulate
configobj
PyHamcrest
choice
faulthandler

# gal
dateutils
xmltodict
functools32

# bitbucket
git+https://github.com/angelnan/bitbucketcli.git

# trytond
lxml>=2.0
relatorio>=0.2.0
Genshi
python-dateutil
polib
psycopg2>=2.5.0
python-sql>=0.8
werkzeug
wrapt

